/* css/main.css */

@import './default.css';

.center {
    text-align: center;
    margin: auto;
}

main {
    background-color: var(--whitesmoke);
    padding: 25px;
    height: 100vw;
}

.thick-line{
    height: 4px;
    background-color: black;
    border: none;
}

#aboutMe {
    padding: 1rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 5rem;
}